/* Importando font family poppins */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Css globais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

#logo{
    width: 343px;
}
/* content alignment */
#login_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
#register_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* Email and password styling */
.container_input_login{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    
    
    input{
        width: 353px;
        height: 46px;
        padding-left: 10px;
    
        
        background: #C1C0BC;
        border: none;
        outline: none;
        position: relative;
        
    }
    
}
#password, #confirm_password{
    position: relative;
}
#visibility_off{
    position: absolute;
    right: 0;
    padding-right: 11px;
    z-index: 1000;
    top: 50%;
    cursor: pointer;
}
#visibility_off2{
    position: absolute;
    right: 0;
    padding-right: 11px;
    z-index: 1000;
    top: 50%;
    cursor: pointer;
}
#visibility_on2{
    background-image: url(../icons/visibility_on.svg);
    position: absolute;
    right: 0;
    padding-right: 11px;
    z-index: 1000;
    top: 50%;
    cursor: pointer;
}

#email{
    margin-top: 32px;
}
/* enter styling */

.action_buttons{
    display: flex;
    flex-direction: column;
    margin-top: 22px;

    a{
        text-decoration: none;
        color: black;

       
    }
    span{
        transition: 300ms;
    }
    span:hover{
        background-color: #C1C0BC ;
        padding: 5px;
       
    }
    button{
        width: 353px;
        height: 60px;
        margin-bottom: 11px;

        background: #F3C869;
        border: none;
        outline: none;
        cursor: pointer;

        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: clamp(18px,2vw,32px);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        transition: 300ms;
       
    }
    button:hover{
        background: #e2ba62;
    }
    
}

@media screen and (max-width:375px){
    .container_input_login{
        margin: 0 auto;
       
        input{
            width: 80vw;
            
            
    
        }
    
    }
    .action_buttons{
        
        margin: 0 auto;
        button{
            width: 80vw;
            margin-top: 22px;
            
            
        }
    }
    #logo{
        width: 80%;
        margin: 0 auto;
    }
    #login{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
}